@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;	
}



burger div{
	display:none;
}
.flipsing
{
	
margin-top:20px;	
}

.flipsing1
{
	
margin-top:30px;	
}

.testhead{
	text-align: center;
	margin-top: 20px;
}
.testdata{
	margin: 10px;
}
.testitem{
	padding: 30px;
}
mark { 
	background-color: green;
	color: white;
  }
html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.rows{
	min-height:120vh;
}
body{
	
	margin:0px;
	padding:-2px;
	color:#666;
	font-family: 'Open Sans Condensed', sans-serif;
	height:100%;
	width:100%;
	}
.close{
	display:none;
}
.rows{
	padding:20px;
	display:inline;
	
}
.burger div{
	display:none;
}





.flips
{
	margin:10px;
	margin-top:20px;
	
}
.flipsimg{
	
	margin-top:60px;
	
}
.star{
	alignment-adjust:central;	
}
.star a{
	text-align:center;
	display:block;
margin: 0 auto;
vertical-align:middle;
}
.blocks{
	background-image:linear-gradient(#D1EBEB,white,#D1EBEB);
	padding-top: 20px;
}
.blocks1
{
	background-image:linear-gradient(#D1EBEB,white,#D1EBEB);	
	min-height:550px;
	
}

.tpheading{
	padding-top: 20px;
}

.imgd{
	border: 2px solid black;
}
.flipa{
	background-color:#FFF;
}
.btns3{
	text-align:center;
    width:250px; 
	height:65px;
    display:block;
    position:relative;
    margin-top: 50px;
	margin-left:30px;
    height: auto;
}
h1{
	 font-size:45px;	
	
}
/*slides*/
.roo{
	background-size:cover;	
}



.cen{
	text-align: center;
}

input, textarea{
	max-width:100%;
}

.rowi{
	padding-top: 20px;
	padding-bottom: 10px;
	
}

.nn{
	padding: 20px;
}
.fd{
	margin:20px 150px;

}
@media screen and (max-width:620px){
	.fd{
		margin:20px 50px;
	
	}
	
}
.sub{
	text-align: center;
    padding:5px;	
}

.starts{
	padding-top: 20px;
}

.ends{
	padding-bottom: 20px;
}

.flip-box{
	width:300px;
	background-color: #03C;
}
.cnn{
	text-align: center;
	
}

.fadein{
 opacity:0;
 border: 2px solid black;
 border-radius:20px;
 
}

.ro
{
	margin-left:35px;
}

.fadeinleft 
{

    opacity:0;

    margin-left:-300px;

    max-width:100%;

}


	
.even{
	margin: 0 20px 0 10px;
	padding: 20px 0 20px 0;
	text-align: center;
}
.evenh{
	margin: 0 20px 50px 10px;
	padding: 20px 0 20px 0;
	text-align: center;
}
.starth{
	margin-bottom: 75px;
}

.eighty.start {
    width: 0px;
    background: #aae0aa;
    -webkit-animation: eighty 2s ease-out forwards;
       -moz-animation: eighty 2s ease-out forwards;
        -ms-animation: eighty 2s ease-out forwards;
         -o-animation: eighty 2s ease-out forwards;
            animation: eighty 2s ease-out forwards;
}

.head4{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
}
burger div{
	display:none;
}






.carousel-inner{
    width: 100vw;
    height: 100vh;
	background: linear-gradient( #333, #666);
  }
.carousel-inner img{
	width:100vw;
	height:100vh;	
	image-rendering: pixelated;
	z-index:-8px;
	 filter: brightness(70%);
}



.head1{
	font-size:50px;
	text-shadow:2px 4px #333333;
	z-index:12px;
	font-family: 'Montserrat', sans-serif;
}

.head2{
	font-size:40px;
	text-shadow:1px 2px #990000;	
	z-index:12px;
}
.head3{
	font-size:50px;
	text-shadow:3px 3px #000000 ;
	color: #FFF;
	z-index:12px;
	font-family: 'Montserrat', sans-serif;
}

.carousel-caption {
	top:60%;
	text-align:left;
	margin-left:-80px;
	bottom:auto;	
}

.headings{
	text-align:center;
}

.step{
	alignment-adjust:central;
	align-items: center;
	margin-left:6%;
	
	align-content: center;
}

.trys{
	alignment-adjust:central;
	align-items:center;	
}
.flip-box{
	alignment-adjust:central;
	margin-right:150px;
}
.flip-boxfarmer{
	alignment-adjust:central;
	
}

.dest{
	margin-left:60px; 
	margin-right:30px;	
}

.current{
	font-size:55px; 
	color:#FFF;
	text-align:center;
	
}

.cent2
{
	text-align:center;
	color:#FFF;
	margin-top:20px;
	font-weight:900;
	
	
}





.cen{
	text-align: center;
	 margin: 20px 0px;
}
@media screen and (max-width:620px){
	.cen{
		text-align: center;
	}
	
}
@media screen and (max-width:620px){
.menu{
	display:none;
}

.img{
	width:80vw;
	height:80vh;
}

.formy{
	margin-right:16px;
}





.dest{
	margin-left:40px; 
	margin-right:40px;	
}
.close{
	display:block;
	margin-left:-300px;
	 margin-bottom:-80px; 
	
	color:black;
	box-shadow:1px 1px 1px 1px black;
}

.current{
	font-size:45px; 
	color:#FFF;
	text-align:center;
	
}

.serve{
	min-height:350px;
	
}

.box3
{
	min-height:350px;
}





.btns4{
display: flex; 
justify-content: center;
margin-left:40px;	
}

#partner{
	margin-right:5px;
}

.burger div{
	display:block;
	margin-top:-30px;
}
.logo img{
	width:120px;
	margin-left:-43px;
}

.headings2{
	text-align:center;
}
.homes{
	margin-top:35px;
	font-size:30px;	
}




.carousel-inner img{
	width:100vw;
	height:70vh;	
	image-rendering: pixelated;
	z-index:-8px;
	 filter: brightness(90%);
}
.carousel-inner{
    width: 100vw;
    height: 100%;
	background: linear-gradient( #333, #666);
  }



.carousel-caption h1{
	font-size:300%;
		margin-left:20%;
}
.carousel-caption h2{
	font-size:200%;
		margin-left:20%;
}
.carousel-caption h3{
	font-size:200%;
	margin-left:20%;
}
.carousel-caption h5{
	font-size:150%;
	margin-left:20%;
}
.carousel-caption p{
	margin-left:20%;
	font-size:100%;
}



.step{
	alignment-adjust:central;
	
	width:400px;
	
}

.tempt{
	margin-right:100px;	
	
}

.btns{
	margin-left:-8px;
}
input.fm
{
	height:40px;
	margin-right:12px;
}
#partner{
	font-size:30px;	
	
}


.tiny{
	font-size:33px;	
}

.tini{
	font-size:30px;
}

.cent{
	margin-top:90px;	
}

.changesize
{
	font-size:40px;
}

}

@media screen and (min-width:625px) and (max-width:800px)
{
	
	.step{
	alignment-adjust:central;
	
	
	
}
	
	.dest{
	margin-left:4%; 
	margin-right:15%;	
}

	
	
}












.step{
	alignment-adjust:central;
}
.tempt 
{
	alignment-adjust:central;
	 display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.write{
	text-align:center;	
	
}

.first{
	top:45%;
	text-align:left;
	bottom:auto;
}

.second{
	top:30%;
	text-align:left;
	bottom:auto;
}
.third{
	top:20%;
	text-align:left;
	bottom:auto;	
	
}
	
.para{
	top:30%;
	text-align:left;
	font-weight:600;
	text-shadow:2px 2px #666666;
	color:#000;
	font-size:22px;
	bottom:auto;
	z-index:12px;
	
}
.btns20{
	text-align:right;
	color:#FFF;
	
}




/* Main content */
.main {
  margin-top: 40px; /* Add a top margin to avoid content overlay */
}


.top{
	background-image:linear-gradient(black,green);
	width:100%;
	height:4%;
}
.col1{
	
	width:100%;
	height:550px;
}
.col2
{

	width:100%;
	height:350px;
	margin:10px;
}
.col3{
	background:rgba(46, 49, 49, 0.7);
	width:100%;
	
	margin:20px;
}
.cols3
{
	background:rgba(46, 49, 49, 0.7);
	width:100%;
	height:280px;
	margin:5px;
	
}
.borders{
	
	width:100%;
	height:3%;
}
.borders2{

	width: 100vw;
	background-image : linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	height:5%;
}
#About
{
	color: #301D7C;
	font-size:50px;
	
}
.rows{
	text-align:justify;
    font-family: 'Roboto', sans-serif;
	font-size:18px;
	margin:40px;
	color: #006;
	position: inherit;
	min-height:600px;
}
#more{
	display:none;
	background:rgb(245,245,245, 1);	
	min-height:500px;
	position: inherit;
}



.foots
{
	margin-top:400px;
	background-color:#000;
	color:#FFF;
}

.boders2
{
	border:2px solid green;
}
.awards{
	line-height: 3rem;
	padding: 10px 2px 10px 2px;
	text-align: center;
	margin-bottom: 20px;
	
	text-indent:hanging;
	text-shadow:1px 1px 1px #666666;
	font-family:"MS Serif", "New York", serif;
	color:#333;
	background-image:linear-gradient(#f8f9fa,white,#f8f9fa);
}



.awarditem{
	background-image:linear-gradient(#D1EBEB,white,white,#D1EBEB);
	line-height: 2rem;
}

.trp{
	padding-right: 2rem;
}
.heads{
	color:#333;
	text-shadow:1px 1px 1px #333;
	padding-top: 20px;
	padding-bottom: 10px;
	text-decoration:underline; 	
}
.feedback{
	display:block;
	alignment-adjust: middle;
	margin-top: 10px;
	padding-top: 15px;
    vertical-align:middle;
	background-color: rgba(209,238,238,.9);
	align-items: center;
    position: relative;
	z-index:1;
	box-shadow:4px 4px  4px rgba(209,238,238);
}
.forms{
	width:30%;
	
	border-radius:5px;
}
input.fm
{
	height:40px;
	margin:20px;
}
.fm
{
	width:100%;
	height:40px;
	margin:20px;
}
	
.btns{
	width:250px;
}

.header{
	padding:5px;
	text-align:center;
	color:#666;
	text-shadow:#999;
	font-family: "MS Serif", "New York", serif;
}
h1.header{
	font-size:56px;	
}
.texts{
	text-align:center;
	text-shadow:1px 1px 1px #666666;
	font-family: 'Libre Baskerville', serif;
}
.footer{
	margin-top:100px;
	background:#303036;
	color:#d3d3d3;
	min-height:300px;
	position:relative;
}

#partner{
	text-align:center;
}

.totals{
	
	height:120px;
	background-image:url(green3.jpg);
	background-size: contain;
}

.footer-bottom{
	background:#343a40;
	color:#686868;
	min-height:50px;
	position:relative;
	width:100%;
}
.wrapper{
	height:100%;
}
.footer .about
{
	margin:60px;	
	
}
.footer .contact
{
	margin:55px;	
	
}
.footer .company
{
	margin:55px;
	margin-right:-30px;	
	
}
.h3
{
	margin:40px;
	margin-top:50px;
}

a:link{
	text-decoration:none;
}

.footer a{
	text-decorations:none; 
	color:inherit;	
}
.footer a:hover{
	text-decoration:none;
	color:#999;
}
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 75%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




.colu
{
	margin-top:150px;
	font-weight:800;
	font-family: "Arial Black", Gadget, sans-serif;	
}
.colu2{
	margin-left:180px;	
}

.box{
	opacity:0.7;
	width:100vw;
	min-height:100vh;	
	
}
.box2{
	background:#000;
	opacity:0.7;
	width:100vw;
	min-height:50vh;
	
}




.flip-box {
  margin:60px;
  box-shadow:5px 9px 5px #000000;
  background-color: transparent;
  width: 300px;
  height: auto;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-boxfarmer{
	margin:60px auto;
  box-shadow:5px 9px 5px #000000;
  background-color: transparent;
  width: 300px;
  height: auto;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-boxy {
	box-shadow:5px 9px 5px #000000;
	background-color: transparent;
	width: 300px;
	height: auto;
	border: 1px solid #f1f1f1;
  }

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: white;
  color: black;
  text-align:center;
 
  
}



/* Style the back side */
.flip-box-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.ros{
	padding:12px;
	margin:20px;	
}

	
.ap img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.apmn img{
	height: 250px;
	width: 250px;
}