
section{
	float: left;
	text-align: center;
	position: relative;
	padding: 30px 0;
	background: #fcfdfd;
	z-index: 1;
	width: 100%;
}
.section-title{
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 40px; 
}

.section-title h2 {
	float: left;
	width: 100%;
	text-align: center;
	
	font-weight: 600;
	position: relative;
}

.swiper-container {
	width: 100%;
	height: 100%;
}


.testimonials-text {
	
	padding: 25px 25px 25px;
	box-shadow:5px 9px 5px #000000;
	overflow:hidden;
	background: #f8f9fa;
	border:2px solid black;
	min-height: 350px;
	border-radius: 10px;
	transition: all .3s ease-in-out;
}

@media screen and (max-width:500px){
	.testimonials-text {
		padding: 25px 25px 25px;
		box-shadow:5px 9px 5px #000000;
		overflow:hidden;
		background: #f8f9fa;
		border:2px solid black;
		min-height: 370px;
		border-radius: 10px;
		transition: all .3s ease-in-out;
	}
	
}
.testimonials-text-after{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}
.testimonials-text-before{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}
.testimonials-text .listing-rating{
	float: none;
	display: inline-block;
	margin-bottom: 12px;
}

.testimonials-avatar h3{
	font-weight: 600;
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	
}
.testimonials-avatar h4{
	font-weight: 400;
	font-size: 17px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	
}
.tet p{
	font-weight: 600;
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

.testimonials-carousel .swiper-slide{
	padding: 30px 30px;
}	 

.testimonials-text p{
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-size: 16px;
	font-weight: 500;
}
.text-link{
	position: absolute;
	bottom:0;
	padding: 15px 0;
	border-radius: 10px 10px 0 0;
	background: #f9f9f9;
	border:1px solid #eee;
	box-shadow: 0 10px 15px rgba(0,0,0,0.03);
	left: 50%;
	width: 200px;
	margin-left: -100px;
}
.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}
.tc-pagination{
	float: left;
	margin-top: 10px;
	width: 100% !important;
}
.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
}
.tc-pagination2{
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
	opacity: 5;
	background: #D1EBEB;
	margin:0 5px;
	width: 15px;
	height: 15px;
	transition: all 300ms ease-in-out;
}
.tc-pagination .swiper-pagination-bullet:hover{
	opacity: 5;
	background: #0d4408;
	margin:0 5px;
	width: 15px;
	height: 15px;
	transition: all 300ms ease-in-out;
}
.tc-pagination2.swiper-pagination-bullet :hover{
	opacity: 5;
	background: #0d4408;
	margin:0 5px;
	width: 15px;
	height: 15px;
	transition: all 300ms ease-in-out;
}